/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora&display=swap');




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.untactsection-full-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100%;
    background:linear-gradient(to bottom,  purple,rgb(188, 188, 255));
    overflow-x: none;
    font-family: "Inter", sans-serif;
    /* overflow-y: none; */
 
}
.untact-coming-soon-section-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  background: linear-gradient(0deg, #FCFCFC, #FCFCFC),
    linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    
    border:1px solid white;
    border-radius: 10px;
    padding: 30px;

}

.coming-soon-section {

    border: 1px solid  #00000005;
    border-radius: 5px;
    background-color: #00000005;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border:1px solid black; */
    /* flex-basis: 50%; */
    padding: 20px;
    margin-top: 30px;
   
   
    /* font-size: 100px; */
  

    /* height: 100%;  */

}

.newsite-text-div {
    text-align: center;
   color: black;
    font-weight: 200;
    font-size: 20px;
    color:white;

}

.coming-txt {
   
    font-size: 40px;
    font-weight: 700;
    color: #171717;
}

.soon-txt {
    color: #727272;
    font-size: 20px;
    font-weight: 400;

}

.untact-img-div {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    width: 100px;
    height: 80px;
 
}
.back-to-home-btn{
    border:none;
    outline:none;
   /* flex-basis: 100%; */
   background-color:#000000;
   color:#D6D6D6;
   border-radius: 5px;
   padding-top: 5px;
  padding-bottom: 5px;
   margin-top: 20px;
   padding-left: 10px;
   padding-right: 10px;
   cursor: pointer;
   font-weight: 400;
   /* flex-grow: 1; */
   /* width: 370px; */
   /* height: 100px; */
}
  




@media screen and (max-width:767px){
    .coming-soon-section {

        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        /* border:1px solid black; */
        /* flex-basis: 50%; */
        font-size: 80px;
      
    
        /* height: 100%;  */
    
    }

    .untact-coming-soon-section-div{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #FCFCFC;
        border:1px solid white;
        border-radius: 10px;
        padding: 30px;
        margin-left: 10px;
        margin-right: 10px;
    
    }
    .back-to-home-btn{
   
       cursor: none;
     
    }
      
    
 

}