/* .bg-home-cont{
    background-image:url("../../assets/images/Sites.png");
  background-size: cover;
  position: relative;
  height: 100vh;
  background-position: center;
} */

.xircular-flexbox-container{
    display:flex;
    flex-direction: row;
    width:100%;
    margin: auto;
    /* flex-wrap: wrap; */
    /* we can give anyting here based on mocks */
    justify-content: space-around;
    margin-top:25px ;
    margin-bottom:25px ;
}
.xircular-item-section{
    flex-basis:25%;
        border: 1px solid white;
        border-radius: 8px 8px 8px 8px;
        margin:10px 10px;
        /* box-shadow: 0px 0px 2px 3px lightgrey; */
      text-align: center;
      background-color: white;
      padding: 20px;
 
}

.twosection{
  background-image:url("../../assets/images/Techno.png");
  background-size: cover;
  position: relative;
  height: 100vh;
  background-position: center;
}


.ayatanalogo-div{
  cursor:pointer;
}
.isibisilogo-div{
  cursor:pointer;

}
.untactlogo-div{
  cursor:pointer;

}
.optifarmlogo-div{
  cursor:pointer;

}

@media only screen and (max-width:768px){
  .ayatanalogo-div{
    cursor:none;
  }
  .isibisilogo-div{
    cursor:none;
  
  }
  .untactlogo-div{
    cursor:none;
  
  }
  .optifarmlogo-div{
    cursor:none;
  
  }

}
@media only screen and (max-width:768px){
    /* .bg-home-cont{ */
        /* background-image:url("../../assets/images/Sites.png"); */
        /* background-image:none; */
      /* background-size: cover; */
      /* position: relative; */
      /* height: 100vh; */
      /* background-position: center; */
    /* } */

    .xircular-flexbox-container{
        display:flex;
        flex-direction: column;
    }

    .twosection{
      background-image:url("../../assets/images/na.png");
      /* background-color:#EDF5FF; */
      /* background-image:none; */
      /* background-color:yellow; */
      background-size: cover;
      position: relative;
      height: 100vh;
      /* opacity:0.5; */
      /* width: 100%; */
      background-position: 40% 0%;
      /* background-position: top center; */
    }
    .idea {
      visibility: hidden;
    }

}

/* 
.portfolio-item:hover {
  color:red !important; /* your desired hover color */;
/* } */ 
.portfolio-item ul li:active{
  background-color: black !important;
}


/* for static changing color */
/* .navbar-collapse ul li a{
  color:black !important;
} */


/* .nav-sticky .navbar-nav li a {
  color: red !important;
}
.navbar-collapse ul li a:active{
  color:red !important;
}

.nav-sticky .navbar-nav li a {
  color: black !important;
}
.navbar-collapse ul li a:active{
  color:white !important;
} */
.navbar{
  /* border:1px solid red; */
  position:fixed;
  background-color: white;
  z-index: 100;
  box-shadow:1px 1px 1px 1px #cdcdcd ;
}
/* .navbar ul li a{
  color:red;
} */
/* .navbar-collapse ul li a {
  color:red !important;
} */
/* .navbar-collapse ul li a:active {
  color:violet !important;
} */


.portfolio-item:active{
  background-color: #F8F8F8 !important;
}



/* .navbar-collapse ul li a.active a,
.navbar-collapse ul li a:hover,
.navbar-collapse ul li a:active {
  color: aqua !important;
} */


/* Add this to your CSS file or style tag */
.dropdown-toggle.dropup::after {
  transform: rotate(-180deg);
}


.activepor ul li a{
  color:blue !important;
}


.nav-link .activeport{
  color:red !important
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  /* color: var(--bs-nav-link-color); */
  color:red ;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.dropdown-toggle{
  color:black !important;
}




